@font-face {
  font-family: 'IMFellEnglish';
  src: url('../daschfortner.github.io/fonts/IMFellEnglish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CormorantSC';
  src: url('../daschfortner.github.io/fonts/CormorantSC-Light.ttf') format('truetype');
}

html {
  background-color: var(--main-bg-color);
}

.title-text {
  font-family: 'CormorantSC';
  color: var(--main-text-color);
}

.paragraph-text {
  font-family: 'IMFellEnglish';
  color: var(--main-text-color);
}
