@font-face {
  font-family: 'IMFellEnglish';
  src: url('../daschfortner.github.io/fonts/IMFellEnglish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CormorantSC';
  src: url('../daschfortner.github.io/fonts/CormorantSC-Light.ttf') format('truetype');
}

html {
  background-color: var(--main-bg-color);
}

/* Breakpoint from phone to desktop: 800px */
@media (min-width: 800px) {
  #main-column {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-text {
  color: var(--main-fg-color);
  font-family: 'CormorantSC';
  font-size: xxx-large;
  text-align: center;
}

.paragraph-text {
  color: var(--main-fg-color);
  font-family: 'IMFellEnglish';
  font-size: large;
}

.image-wrapper {
  width: 100%;
}

.image-wrapper img {
  width: 100%;
}

.double-divider {
  /* clear the border first, then add in the top and the bottom */
  border: none;
  border-top: 1px solid var(--main-fg-color);
  border-bottom: 1px solid var(--main-fg-color);
  height: 1px;
  width: 100%;
}

.thick-divider {
  /* clear the border first, then add in the top and the bottom */
  border: none;
  border-top: 2px solid var(--main-fg-color);
  width: 100%;
}

.large-margin {
  margin: 40px;
}
