@font-face {
  font-family: 'IMFellEnglish';
  src: url('../daschfortner.github.io/fonts/IMFellEnglish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CormorantSC';
  src: url('../daschfortner.github.io/fonts/CormorantSC-Light.ttf') format('truetype');
}

html {
  background-color: var(--main-bg-color);
}

#main-column {
  min-width: 400px;
}

#header {
  background-color: var(--main-bg-color);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#header div {
  display: flex;
  justify-content: space-around;
}

#header a, #header a:visited {
  color: var(--main-fg-color);
  font-family: 'CormorantSC';
  font-size: large;
  text-align: center;
  text-decoration: none;
}

/* Breakpoint from phone to desktop: 800px */
@media (min-width: 800px) {
  #main-column {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-text {
  color: var(--main-fg-color);
  font-family: 'CormorantSC';
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
}

.heading-text {
  color: var(--main-fg-color);
  font-family: 'CormorantSC';
  font-size: xx-large;
  text-align: center;
}

.paragraph-text {
  color: var(--main-fg-color);
  font-family: 'IMFellEnglish';
  font-size: large;
}

.image-wrapper img {
  width: 100%;
}

.bordered-image {
  border: 3px solid var(--main-fg-color);
}

.two-column {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.two-column div {
  max-width: 800px;
}

.double-divider {
  /* clear the border first, then add in the top and the bottom */
  border: none;
  border-top: 1px solid var(--main-fg-color);
  border-bottom: 1px solid var(--main-fg-color);
  height: 1px;
  width: 100%;
}

.thick-divider {
  /* clear the border first, then add in the top and the bottom */
  border: none;
  border-top: 2px solid var(--main-fg-color);
  width: 100%;
}

.thin-divider {
  /* clear the border first, then add in the top and the bottom */
  border: none;
  border-top: 1px solid var(--main-fg-color);
  width: 100%;
}

.large-margin {
  margin: 40px;
}

.skills-box {
  border: 1px solid var(--main-fg-color);
}
