/*
 *  Divider styles
 *
 *  This file contains the styles that are applied to the Divider component.
 *
 * * * */

.divider {
  display: flex;
  flex: 1;
  height: 30px;
  justify-content: space-between;
}

.divider-top-border {
  border-top: 1px solid var(--main-fg);
}

.divider-bottom-border {
  border-bottom: 2px solid var(--main-fg);
}
